name: Publish

on:
  push:
    branches: [master]
    paths:
      - "configs/**"
      - "scripts/**"
      - "Containerfile.template"
      - "base-image.lock"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    uses: ./.github/workflows/build-image.yaml
    with:
      push: true
      image_name: bootc-arch-base
